Repository dongcheolpark/dongcheolpark.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: Feature, Post

.github/labeler.yml:

Feature:
  - blog/src/**

Post:
  - blog/posts/**

add description
  blog/contentlayer.config.ts
  blog/posts/test.mdx
  blog/src/app/page.tsx
Labels: Feature, Post

Add Description (#6)
  blog/contentlayer.config.ts
  blog/posts/test.mdx
  blog/src/app/page.tsx
Labels: Feature, Post

fix fabicon
  blog/src/app/favicon.ico
Labels: Feature

Fix favicon (#7)
  blog/src/app/favicon.ico
Labels: Feature

fix metadata
  blog/src/app/layout.tsx
Labels: Feature

fix post
  blog/posts/test.mdx
Labels: Post

Test 포스트 수정 (#8)
  blog/posts/test.mdx
Labels: Post

Fix metadata (#9)
  blog/src/app/layout.tsx
Labels: Feature

fix build error
  blog/next.config.js
Labels: none

fix style
  blog/src/app/styles/global.scss
  blog/tailwind.config.ts
Labels: Feature

Change Post design (#10)
  blog/src/app/styles/global.scss
  blog/tailwind.config.ts
Labels: Feature

add main navigation
  blog/src/app/layout.scss
  blog/src/app/layout.tsx
  blog/src/app/styles/colorVariables.scss
  blog/src/app/styles/screen.scss
  blog/src/app/styles/variables.scss
Labels: Feature

Add main navigation (#11)
  blog/src/app/layout.scss
  blog/src/app/layout.tsx
  blog/src/app/styles/colorVariables.scss
  blog/src/app/styles/screen.scss
  blog/src/app/styles/variables.scss
Labels: Feature

add readingTime
  blog/bun.lockb
  blog/package.json
  blog/src/app/posts/[slug]/page.scss
  blog/src/app/posts/[slug]/page.tsx
Labels: Feature

Add readingTime (#12)
  blog/bun.lockb
  blog/package.json
  blog/src/app/posts/[slug]/page.scss
  blog/src/app/posts/[slug]/page.tsx
Labels: Feature

fix design
  blog/src/app/layout.scss
  blog/src/app/layout.tsx
  blog/src/app/page.scss
  blog/src/app/page.tsx
  blog/src/app/posts/[slug]/page.tsx
  blog/src/app/styles/colorVariables.scss
Labels: Feature

Fix design (#13)
  blog/src/app/layout.scss
  blog/src/app/layout.tsx
  blog/src/app/page.scss
  blog/src/app/page.tsx
  blog/src/app/posts/[slug]/page.tsx
  blog/src/app/styles/colorVariables.scss
Labels: Feature

fix
  blog/bun.lockb
  blog/posts/test.mdx
Labels: Post

실행속도가빠르다 까지
  blog/posts/good_code.mdx
Labels: Post

Update package.json and layout.tsx files
  blog/package.json
  blog/src/app/layout.tsx
  blog/src/app/styles/global.scss
Labels: Feature

use global css
  blog/src/app/layout.tsx
  blog/src/app/styles/_global.css
  blog/src/app/styles/global.scss
Labels: Feature

fix
  blog/posts/good_code.mdx
Labels: Post

완성
  blog/posts/good_code.mdx
Labels: Post

좋은 코드란? (#14)
  blog/bun.lockb
  blog/posts/good_code.mdx
  blog/posts/test.mdx
Labels: Post

add description
  blog/src/app/page.scss
  blog/src/app/page.tsx
  blog/src/app/styles/colorVariables.scss
Labels: Feature

add description (#16)
  blog/src/app/page.scss
  blog/src/app/page.tsx
  blog/src/app/styles/colorVariables.scss
Labels: Feature

add giscus
  blog/src/app/layout.tsx
  blog/src/app/posts/[slug]/Comment.tsx
  blog/src/app/posts/[slug]/page.tsx
  bun.lockb
  package.json
Labels: Feature

add giscus (#17)
  blog/src/app/layout.tsx
  blog/src/app/posts/[slug]/Comment.tsx
  blog/src/app/posts/[slug]/page.tsx
  bun.lockb
  package.json
Labels: Feature

fix build error
  blog/bun.lockb
  blog/package.json
  blog/src/app/posts/[slug]/Comment.tsx
  blog/src/app/posts/[slug]/page.tsx
  package.json
Labels: Feature

fix description text
  blog/src/app/page.tsx
Labels: Feature

add links
  blog/src/app/components/icons.tsx
  blog/src/app/layout.tsx
  blog/src/app/page.scss
  blog/src/app/page.tsx
Labels: Feature

add links (#19)
  blog/src/app/components/icons.tsx
  blog/src/app/layout.tsx
  blog/src/app/page.scss
  blog/src/app/page.tsx
Labels: Feature

Refactor PostCard component to use anchor tag instead of Link component
  blog/src/app/page.tsx
Labels: Feature

Refactor PostCard component to use anchor tag instead of Link component (#20)
  blog/src/app/page.tsx
Labels: Feature

change package version
  blog/bun.lockb
  blog/package.json
Labels: none

fix post design
  blog/src/app/layout.scss
  blog/tailwind.config.ts
Labels: Feature

tmp
  blog/posts/procedural_programming.mdx
Labels: Post

tmp
  blog/posts/procedural_programming.mdx
Labels: Post

fix
  blog/posts/procedural_programming.mdx
Labels: Post

fix
  blog/bun.lockb
  blog/posts/procedural_programming.mdx
  blog/public/posts/procedural_programming/1.png
  blog/public/posts/procedural_programming/2.png
Labels: Post
